.footer {
  padding-top: 58px;
  padding-bottom: 59px;
  background-color: $brown;
}

.footer__grid {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 29px;
}

.footer__logo {
  &:hover {
    fill: $pink;
  }

  &:active {
    fill: $light-green;
  }
}

.footer__link {
  position: relative;
  width: 181px;
  text-align: end;
  padding-right: 26px;
  color: $white;
  font-size: 13px;
  line-height: 15px;

  &:hover {
    color: $pink;
  }

  &:active {
    color: $light-green;
  }

  &::after {
    position: absolute;
    content: "";
    top: -3px;
    right: -21px;
    width: 38px;
    height: 38px;
    background-image: url("../img/development.svg");
  }
}
